name: Build and test

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  check-black:
      # fail it if doesn't conform to black
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
        - uses: psf/black@stable
          with:
            options: "--check --verbose --diff"

  build-and-test:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.9", "3.12"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: 'etc/requirements_dependabot/requirements_tests.txt'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r etc/requirements_dependabot/requirements_tests.txt
          pip install -e .
      - name: Lint with flake8
        # fail it if doesn't pass flake8
        run: |
          flake8 . --statistics
      - name: Test with pytest
        # fail it if doesn't pass test suite
        run: |
          pytest --hypothesis-profile ci