name: Release Drafter

on:
  push:
    branches:
      - master

# Updates next release notes on any push to master. Label a PR to categorize it
# in accordance with .github/release_drafter.yml.
jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}